<connectionStrings>
  <add name="SAC_Entities"
    connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDGARDO-PC;initial catalog=SAC2022;Integrated Security =True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>

 


  <!-- 

<connectionStrings>
  <add name="SAC_Entities"
    connectionString="metadata=res://*/M<connectionStrings>
  <add name="SAC_Entities"
    connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=200.69.192.180;initial catalog=SAC2022;persist security info=True;user id=sa;password=User_Sac.2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>
odeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=200.69.192.180;initial catalog=SAC2022;persist security info=True;user id=sa;password=User_Sac.2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>


  <add name="SAC_Entities"
    connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDGARDO-PC;initial catalog=SAC2022;Integrated Security =True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>	


 
 <add name="SAC_Entities" 
    connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDGARDO-PC;initial catalog=SAC2022;Integrated Security =True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

     
      <add name="SAC_Entities"
      connectionString="metadata=res://*/ModeloDeDatos.Entidades.csdl|res://*/ModeloDeDatos.Entidades.ssdl|res://*/ModeloDeDatos.Entidades.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=200.69.192.180;initial catalog=SAC2022;persist security info=True;user id=sa;password=User_Sac.2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>


 
-->

